<!DOCTYPE html>
<html lang="en" style="font-family: Arial, Helvetica, sans-serif;">
<head>
    <meta charset = "UTF-8">     
    <title>Book Notes | Prakarti Garg</title>
    <link rel = "icon" href = "/images/logo.png.png">
    <link rel = "stylesheet" href= "/main.css" >
</head>
<body class="gradient-background">
    <h1>Prakarti Garg</h1>
    <h2>Books I've Read</h2>
    <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
    <hr style="margin-bottom: 80px;">
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[0]%>-L.jpg" alt="its not summer without you"></div>
    <h3><a href="/thesummeriturnedpretty">THE SUMMER I TURNED PRETTY - BY JENNY HAN</a></h3>
    <p id="para">Belly has always lived for the summertime, because summer means all her favorite things: swimming, the beach, and the Fischer boys, Conrad and Jeremiah. For as long as she can remember, she's shared her summers with the brothers at Cousins Beach. And for as long as she can remember, she's been in love with Conrad. Then one summer it seems like he might have feelings for her too -- but so does Jeremiah. As the summer seasons pass, Belly has to choose between two brothers who love her ... and she'll have to break one of their hearts.</p>
    </div>
    <div class="first">    
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[1]%>-L.jpg" alt="its not summer without you"></div>
    <h3><a href="/it'snotsummerwithoutyou">IT'S NOT SUMMER WITHOUT YOU - BY JENNY HAN</a></h3>
    <p id="para">Teenaged Isobel "Belly" Conklin, whose life revolves around spending the summer at her mother's best friend's beach house, reflects on the tragic events of the past year that changed her life forever.</p>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[2]%>-L.jpg" alt="its not summer without you"></div>
    <h3><a href="/we'llalwayshavesummer">WE'LL ALWAYS HAVE SUMMER - BY JENNY HAN</a></h3>
    <p id="para">Can Belly make a final choice between Jeremiah and Conrad?. Belly has only ever been in love with two boys, both with the last name Fisher. And after being with Jeremiah for the last two years, she’s almost positive he is her soul mate. Almost. While Conrad has not gotten over the mistake of letting Belly go, Jeremiah has always known that Belly is the girl for him. So when Belly and Jeremiah decide to make things forever, Conrad realizes that it’s now or never—tell Belly he loves her, or lose her for good.</p>
    </div>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[3]%>-L.jpg" alt="its not summer without you"></div>
    <h3><a href="/halfgirlfriend">HALF GIRLFRIEND - BY CHETAN BHAGAT</a></h3>
    <p id="para">Half Girlfriend is the much-awaited novel by the famous Indian novelist, Chetan Bhagat. It delves into new and different dimensions that relationships have in today’s world. Half Girlfriend is a story of Bihari boy Madhav, a Hindi speaking Bihari who falls in love with Riya, an influential Delhi girl on the campus of prestigious St. Stephen's College. Madhav belongs to middle class family, while Riya is from higher class and both have different lifestyles.</p>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[4]%>-L.jpg" alt="its not summer without you"></div>
    <h3><a href="/2states">2 STATES: THE STORY OF MY MARRIAGE - BY CHETAN BHAGAT</a></h3>
    <p id="para">It is an autobiograpy with only names changed. The story is about a couple Krish and Ananya, who hail from two states of India, Punjab and Tamil Nadu, respectively, who are deeply in love and want to marry. It is narrated from a first-person point of view in a humorous tone, often taking digs at both Tamil and Punjabi cultures.</p>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[5]%>-L.jpg" alt="its not summer without you"></div>
    <h3>FIVE POINT SOMEONE: WHAT NOT TO DO AT IIT - BY CHETAN BHAGAT</h3>
    <p id="para">The book is narrated by Hari, with some small passages by his friends Ryan and Alok, as well as a letter by Hari's girlfriend Neha Cherian. The three friends' elation on making it to one of the best engineering colleges in India is quickly deflated by the rigor and monotony of the academic work. The two main plot lines are: the numerous attempts by the trio to cope with and/or beat the system, and Hari's fling with Neha, the daughter of Prof. Cherian (the domineering head of the Mechanical Engineering department of their college).</p>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[6]%>-L.jpg" alt="its not summer without you"></div>
    <h3>MAFIA QUEENS OF MUMBAI: STORIES OF WOMEN FROM THE GANGLANDS - BY S. HUSSAIN ZAIDI</h3>
    <p id="para">It's an Indian 2011 non-fiction crime novel written by Hussain Zaidi with original research by reporter Jane Borges. It tells 13 true stories of women who were involved in criminal activities in Mumbai. These are a handful of women who lived fearlessly, and Mafia Queens celebrates their spirit. But the real heroes are Zaidi and Borges, who ventured undaunted into the dark corners of the city to illuminate them.</p>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[7]%>-L.jpg" alt="its not summer without you"></div>
    <h3>CALLING SEHMAT - BY HARINDER SIKKA</h3>
    <p id="para">The story is set in India and Pakistan in 1971 and revolves around Sehmat Khan who is born to a Kashmiri Muslim father and a Punjabi Hindu mother.[4] Sehmat is a young college-going girl when she learns of her freedom-fighter father's impending death from cancer. As a part of his final wishes, her patriotic father convinces Sehmat to marry a Pakistani army officer, the son of his friend who is a high-ranking Pakistani army general himself. His intention is to place Sehmat as an undercover operative within the Pakistani army household.</p>
    </div>
    <div class="first">
    <div class="summer"><img class="summer" src ="https://covers.openlibrary.org/b/id/<%=content[8]%>-L.jpg" alt="its not summer without you"></div>
    <h3>THE DEVOTION OF SUSPECT X - BY KEIGO HIGASHINO</h3>
    <p id="para">The story begins with Tetsuya Ishigami and Yasuko Hanaoka following their daily routines. Yasuko is a divorced single mother who works at a bento shop. Ishigami is a highly talented mathematics teacher, who lives next door to Yasuko and her daughter, Misato.</p>
    </div>
</body>
</html>