<!DOCTYPE html>
<html lang="en" style="font-family: Arial, Helvetica, sans-serif;">
<head>
    <meta charset = "UTF-8">     
    <title>Book Notes | Prakarti Garg</title>
    <link rel = "icon" href = "/images/logo.png.png">
    <link rel = "stylesheet" href= "/main.css" >
</head>
<body class="gradient-background">
    <h1>Prakarti Garg</h1>
    <h2>Books I've Read</h2>
    <p>Tiny summary but detailed notes for each. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
    <hr style="margin-bottom: 80px;">
    <button type="button" class="btn">New Post</button>
    <% posts.forEach((post,index) => { %>
        <div class="first">
            <div class="summer"><img class="summer" src ="<%= imageurl[index] %>" alt="its not summer without you"></div>
            <h3><a class="a" href="/<%= post.name.toLowerCase().replace(/\s+/g, '') %>"><%= post.name %> - BY <%= post.author %></a></h3>
            <p id="para"><%= post.description %></p>
            <button style="float: left;" type="button" class="btn">Edit</button>
            <button type="button" class="btn">Delete</button>
            </div>
    <% }); %>
   
</body>
</html>